NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=

META_GRAPH_VERSION=v21.0
META_ACCESS_TOKEN=
FACEBOOK_ACCESS_TOKEN=
INSTAGRAM_ACCESS_TOKEN=

X_BEARER_TOKEN=

APIFY_TOKEN=
APIFY_MAX_ITEMS=5
APIFY_FACEBOOK_ACTOR_ID=
APIFY_FACEBOOK_INPUT_TEMPLATE=
APIFY_INSTAGRAM_ACTOR_ID=apify/instagram-scraper
APIFY_INSTAGRAM_INPUT_TEMPLATE=
APIFY_X_ACTOR_ID=apidojo/tweet-scraper
APIFY_X_INPUT_TEMPLATE=
